
.icon-home:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-folder:before { content: '\e802'; } /* '' */
.icon-login:before { content: '\e803'; } /* '' */
.icon-guidedog:before { content: '\e804'; } /* '' */
.icon-googleplus:before { content: '\e805'; } /* '' */
.icon-cog-alt:before { content: '\e806'; } /* '' */
.icon-align-justify:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-lock:before { content: '\e809'; } /* '' */
.icon-lock-open:before { content: '\e80a'; } /* '' */
.icon-eye:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e80c'; } /* '' */
.icon-tools:before { content: '\e80d'; } /* '' */
.icon-home-1:before { content: '\e80e'; } /* '' */
.icon-th-list:before { content: '\e80f'; } /* '' */
.icon-desktop:before { content: '\e810'; } /* '' */
.icon-laptop:before { content: '\e811'; } /* '' */
.icon-mobile:before { content: '\e812'; } /* '' */
.icon-cloud:before { content: '\e813'; } /* '' */
.icon-heart-empty:before { content: '\e814'; } /* '' */
.icon-heart:before { content: '\e815'; } /* '' */
.icon-download-alt:before { content: '\e816'; } /* '' */
.icon-eye-1:before { content: '\e817'; } /* '' */
.icon-leaf:before { content: '\e818'; } /* '' */
.icon-fire:before { content: '\e819'; } /* '' */
.icon-paper-plane:before { content: '\e81a'; } /* '' */
.icon-globe-1:before { content: '\e81b'; } /* '' */
.icon-left-circle:before { content: '\e81c'; } /* '' */
.icon-right-circle:before { content: '\e81d'; } /* '' */
.icon-down-circle:before { content: '\e81e'; } /* '' */
.icon-up-circle:before { content: '\e81f'; } /* '' */
.icon-mail:before { content: '\e820'; } /* '' */
.icon-call:before { content: '\e821'; } /* '' */
.icon-hail-inv:before { content: '\e822'; } /* '' */
.icon-rain:before { content: '\e823'; } /* '' */
.icon-cc-remix:before { content: '\e824'; } /* '' */
.icon-fire-1:before { content: '\e825'; } /* '' */
.icon-mail-1:before { content: '\e826'; } /* '' */
.icon-book:before { content: '\e827'; } /* '' */
.icon-book-open:before { content: '\e828'; } /* '' */
.icon-search:before { content: '\e829'; } /* '' */
.icon-attention:before { content: '\e82a'; } /* '' */
.icon-plancast:before { content: '\e82b'; } /* '' */
.icon-spotify:before { content: '\e82c'; } /* '' */
.icon-globe:before { content: '\f018'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-ravelry:before { content: '\f2d9'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-twitter-1:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-win8:before { content: '\f325'; } /* '' */
.icon-fire-2:before { content: '\f525'; } /* '' */